* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Archivo Narrow', sans-serif;
  background-color: whitesmoke;
  overflow-x: hidden ;
}

main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column  ;
  padding: 20px;
  overflow-x: hidden ;
}

#first {
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form {
  width: 100%;
  height: auto; /* nunca passa de 80% da altura da tela */
  overflow-y: auto;   /* scroll se ultrapassar */
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: white;
  padding-right: 10px; /* espaço pro scroll não cortar */
}

form input,
form label,
form div, form select {

  background-color: white;

}


.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #444;
}

input,
select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

input:focus,
select:focus {
  border-color: #40df01;
  outline: none;
  box-shadow: 0 0 0 2px rgba(4, 128, 25, 0.2);
}

.row {
  display: flex;
  gap: 15px;
  width: 100%;
}

.row .form-group {
  flex: 1;
}

.card-icons {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.card-icon {
  width: 40px;
  height: 24px;
  background-color: #f0f0f0;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  color: #777;
}

button {
  width: 100%;
  padding: 14px;
  background-color: #3cbe37;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #12722a;
}

.secure {
  text-align: center;
  margin-top: auto; /* empurra pro final */
  color: #777;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
