.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal {
  color: #000;
  background: #ffffff;
  padding: 25px;
  width: 350px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.input {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  font-size: 18px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #ccc;
  color: #000;
}

.confirmBtn {
  margin-top: 12px;
  width: 100%;
  padding: 10px;
  background: #0a7cff;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.resendBtn {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background: #ffb300;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.resendBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.cancelBtn {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background: #d32f2f;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.timer {
  margin-top: 8px;
  font-size: 14px;
}

.msg {
  margin-top: 12px;
  font-weight: bold;
}
